@reference "tailwindcss/theme.css";

.modal-overlay {
  @apply fixed inset-0 z-50 flex items-center justify-center p-4;
}

.modal-backdrop {
  @apply absolute inset-0  backdrop-blur-xs;
}

.modal-panel {
  @apply relative w-min;
}

.modal-body {
  @apply px-6 py-5;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
